@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{padding: 0; margin: 0;font-family: 'Roboto', sans-serif}

header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #0634f9;
 
    justify-content: space-between;
    align-items: center;
}
header>nav{
    width: 280px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
}
header>nav>a{
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #0634f9;
}
header>nav>a:hover{
    border-bottom: 2px solid white;
}
header>h1{
    color: white;
    display: inline;
    margin-left: 100px;
}

/*--------------------------------------------------------*/

#bloco1{
    width: 100%;
    height: 600px;
    background-image: url(fotos/plano1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
}
#bloco1>h1{
    width: 60%;
    color: white;
    margin-top: 90px;
    font-size: 48px;
}

/*--------------------------------------------------------*/

#bloco2{
    width: 1200px;
    height: 300px;
    position: relative;
    top: -310px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card{
    width: 170px;
  
    margin-right: 50px;
}
.card>img{
    width: 170px;
    height: 230px;
}

/*--------------------------------------------------------*/

#bloco3{
    width: 1200px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: -210px;
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------------*/

#bloco4{
    width: 1200px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: -110px;
    display: flex;
    justify-content: center;
}