@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{padding: 0; margin: 0;font-family: 'Roboto', sans-serif}

header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #0634f9;
 
    justify-content: space-between;
    align-items: center;
}
header>nav{
    width: 330px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
}
header>nav>a{
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #0634f9;
}
header>nav>a:hover{
    border-bottom: 2px solid white;
}
header>h1{
    color: white;
    display: inline;
    margin-left: 100px;
}

/*--------------------------------------------------------*/

#bloco1{
    width: 100%;
    height: 600px;
    background-image: url(fotos/plano1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#bloco1>h1{
    width: 60%;
    color: white;
    margin-top: 90px;
    font-size: 48px;
}

/*--------------------------------------------------------*/

#bloco2{
    width: 1200px;
    height: 300px;
    position: relative;
    top: -310px;
    margin: 35px auto;
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    height: 390px;
    text-align: center;
    background-color:white;
    padding:5px;
    margin-bottom: 15px;
}
.card>a{
  color: rgb(14, 161, 141);
}
.card>img{
    width: 180px;
    height: 230px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.card>h4{
    font-weight: bold;
    margin-top: 10px;
}

div i{
    margin-top: 10px;
    color:#f8d407 ;
}

.botão{
    margin-top: 10px;
    width: 180px;
    height: 45px;
    border: none;
    background-color: rgb(14, 161, 141);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/*--------------------------------------------------------*/

#bloco3{
    width: 1200px;
    height: 300px;
    position: relative;
    margin: 35px auto;
    top: -210px;
    display: flex;
    justify-content: space-around;
}

/*--------------------------------------------------------*/

#bloco4{
    width: 1200px;
    height: 300px;
    position: relative;
    margin: 35px auto;
    top: -110px;
    display: flex;
    justify-content: space-around;
}

 /*************************************/
  .container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding:50px;
    background-color: white;
    margin-top: -120px;
  }

  .subContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 2px;
    border-radius: 5px;

  }

  .grafico{
    width: 470px;
  }
  /*--------------------------------------------------------*/


  .modal {
    width: 500px;
    height: 400px;
    position: fixed;
    margin: 0 auto;
    display: flex;
    top: 23%;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(56, 74, 116, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border-radius: 10px;
  }

  .modal>img{
    width: 180px;
    margin-top: 70px;
    margin-left: 10px;
    height: 230px;
    float: left;
  }
  .texto>h1{
    color: white;
    font-size: 40px;
  }
  .texto{
    width: 350px;
    margin:70px 0px 0px 50px;
    text-decoration: none; 
  }

  .texto>ul{
    list-style: none;
    color: white;
    font-size: 20px;
  }
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }


  .fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: red;
    border-radius: 50%;
    font-size: 16px;
    color:white;
    text-decoration: none;
    font-size: 25px;
  }

  .ContainerI{
    display: flex;
    text-align: center;
    height: 800px;
    background-image: url(fotos/plano1.png);
    background-size: cover;
  }

  .subcontainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    flex-direction: column-reverse;
  }

  #TituloI{
    font-size:90px;
    color: white;
  }

  .BoasVindas{
    font-size: 35px;
    margin-top: 30px;
  }

  #botaoI{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
  }

  #botaoI:hover{
    cursor:pointer
  }

  footer{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 209px;
    text-align: center;
    border-top: 1px solid gainsboro;
  }

  footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 3px;
  }

  .grafico-informatica{
    width: 50%;
    height: 300px;
    border: 1px solid red;
    margin: 0 10px;
    display: flex;
    justify-content: center;
  }
  .todos-os-graficos{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid red;
  }
.iframe{
  width:560px;
  height:315px;
  margin: -105px auto 50px auto;
  display: block;
}



  







  
  
  